
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend | Login</title>
    <link rel="stylesheet" href="/LoginCss.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div>
        <form action="/Login/LogInConfirm" method="post">
            <fieldset>
            <img src="/Logo.svg">
                <input type="email" class="email" name="Login" placeholder="E-mail">

                <input type="password" class="password" name="Password" placeholder="Password">

            <button type="submit">Sign in</button>
            <a href="/SignUp"><p>Not registered yet?</p></a>
            </fieldset>
        </form>
    </div>
    
</body>
</html>

