
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="LoginCss.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" 
    rel="stylesheet">
</head>
<body>
    <div>
        <form>
            <fieldset>
            <img src="Logo.svg">
                <input type="email" class="email" name="E-mail" placeholder="E-mail" tabindex="1">

                <input type="password" class="password" name="password" placeholder="Password" tabindex="2">

            <button>Sign in</button>
            <a href="Register.html"><p>Not registered yet?</p></a>
            </fieldset>
        </form>
    </div>
    
</body>
</html>

