@using Weekend.BLL.DTO
@model UserLoginFormDTO
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend | Login</title>
    <link rel="stylesheet" href="/LoginCss.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body>
    <div>
        <form action="/Login/LogInConfirm" method="post">
            <fieldset>
            <img src="/Logo.svg">
                <input type="email" name="Login" required placeholder="E-mail">

                <input type="password" name="Password" required placeholder="Password">

            <button type="submit">Sign in</button>
            <a href="/SignUp"><p>Not registered yet?</p></a>
            </fieldset>
        </form>
    </div>
    
</body>
</html>

