
@{
    ViewData["Title"] = "SignUp";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/RegisterCss.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" 

    rel="stylesheet">
</head>
<body>
    <div>
        <form action="/Login/SignUpConfirm" method="post">
            <fieldset>
            <img src="Logo.svg">
                <input type="email" class="email" name="Email" placeholder="E-mail" tabindex="1"> 

                <input type="text" class="fName"name="fName" placeholder="First name" tabindex="2">

                <input type="text" class="lName" name="lName" placeholder="Last name" tabindex="3">

                <input type="date" class="Birthday" name="date" placeholder="Birthday" tabindex="4">

                <input type="password" class="password" name="password" placeholder="Password" tabindex="5">

            <button type="submit">Sign up</button>
            <a href="/"><p>Already signed up?</p></a>
            </fieldset>
        </form>
    </div>
</body>
</html>

