
@{
    ViewData["Title"] = "SignUp";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/RegisterCss.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" 
    rel="stylesheet">
</head>
<body>
    <div>
        <form>
            <fieldset>
            <img src="~/Logo.svg">
                <input type="email" class="email" name="E-mail" placeholder="E-mail">

                <input type="text" class="fName"name="fName" placeholder="First name">

                <input type="text" class="lName" name="lName" placeholder="Last name">

                <input type="date" class="Birthday" name="date" placeholder="Birthday">

                <input type="password" class="password" name="password" placeholder="Password">

            <button>Sign up</button>
            <a href="/"><p>Already signed up?</p></a>
            </fieldset>
        </form>
    </div>
</body>
</html>

