@using Weekend.BLL.DTO
@model UserDTO
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(Model.FirstName +" "+ Model.LastName)</title>
    <link rel="stylesheet" href="~/ProfileCss.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400,500&display=swap" 
    rel="stylesheet">
    <script src="~/script.js" defer></script>
</head>
<body>
    <aside>
    <img src="~/Logo.svg" class="Logo">

    <div id="Profile">
    <img src="~/Ava.jpg" class="ava">

    <div class="dd"> 
    <p class="name">@(Model.FirstName +" "+ Model.LastName)</p>
    <p class="Myprofile">My profile</p>
    </div>

    <img src="~/Settings.svg">
    </div>

    <ul>
        <li class="li1"><a href="" onmousemove="querySelector('img').src='~/News1.svg'" onmouseleave="querySelector('img').src='~/News.svg'">
        <img src="~/News.svg" alt="" class="carts"><span>News</span></li>
            
        <li><img src="~/Message.svg"><a href="#">Messages</a></li>
        <li><img src="~/Friends.svg"><a href="#">Friends</a></li>
        <li><img src="~/Communities.svg"><a href="#">Communitites</a></li>
        <li><img src="~/Music.svg"><a href="#">Music</a></li>
        <li><img src="~/Photo.svg"><a href="#">Photos</a></li>
        <li><img src="~/Video.svg"><a href="#">Videos</a></li>
    </ul>

    <div class="audio">
        <img src="~/Audio.jpg" class="Cover">

        <div class="NameOfMusic">
        <p class="Artist">unxknow</p>
        <p class="SoundName">На корвалоле</p>
        </div>

        <img src="~/Arrow-left.svg" class="Arrow-left">
        <img src="~/Pause.svg" class="Pause">
        <img src="~/Arrow-right.svg" class="Arrow-right">
    </div> 
    </aside>
</body>
</html>
