
@{
    ViewData["Title"] = "Messages";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/MessagesCss.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400,500&display=swap"
          rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/pics/favicon.ico">
</head>
<body>
    <main>
        <aside>
            <img src="~/pics/Logo.svg" class="Logo">

            <div id="Profile">
                <img src="~/pics/Ava.jpg" class="ava">

                <div class="dd">
                    <a href="C:\Users\Кирилл\Desktop\Учёба\Weekend\Profile\Profile.html" class="name">Kirill Sabaev</a>
                    <p class="Myprofile">My profile</p>
                </div>

                <a href="#"><img src="~/pics/Settings.svg" class="Settings"></a>
                <a href="/Login/LogOut"><img src="~/pics/Logout.svg" class="Logout"></a>
            </div>

            <ul>
                <li><img src="~/pics/News.svg" alt="" class="AsideImg"><a href="#">News</a></li>
                <li><img src="~/pics/Message.svg" class="AsideImg"><a href="#">Messages</a></li>
                <li><img src="~/pics/Friends.svg" class="AsideImg"><a href="#">Friends</a></li>
                <li><img src="~/pics/Communities.svg" class="AsideImg"><a href="#">Communitites</a></li>
                <li><img src="~/pics/Music.svg" class="AsideImg"><a href="#">Music</a></li>
                <li><img src="~/pics/Photo.svg" class="AsideImg"><a href="#">Photos</a></li>
                <li><img src="~/pics/Video.svg" class="AsideImg"><a href="#">Videos</a></li>
            </ul>

            <div class="audio">
                <img src="~/pics/Audio.jpg" class="Cover">

                <div class="NameOfMusic">
                    <p class="Artist">unxknow</p>
                    <p class="SoundName">На корвалоле</p>
                </div>

                <img src="~/pics/Arrow-left.svg" class="Arrow-left">
                <img src="~/pics/Pause.svg" class="Pause">
                <img src="~/pics/Arrow-right.svg" class="Arrow-right">
            </div>
        </aside>

        <section id="Messages">
            <h2>Messages</h2>

            <div class="UserMessage">

                <a href="#"><img src="~/pics/messages/Alex.jpg"></a>
                <p class="Nick">
                    Afanyasenko Aleksander
                    <span>go discord</span>
                </p>
                <p class="TimeOfMessage">13:57</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Clown.jpg">
                <p class="Nick">
                    Sasha Tveritin
                    <span>I'm clown lol</span>
                </p>
                <p class="TimeOfMessage">12:55</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Dim.jpg">
                <p class="Nick">
                    Dmitry Tretyakov
                    <span>You: Go sex</span>
                </p>
                <p class="TimeOfMessage">12:54</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Rus.png">
                <p class="Nick">
                    Arseny Daimnevrot
                    <span>комп не могу продать...</span>
                </p>
                <p class="TimeOfMessage">9:20</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Clown.jpg">
                <p class="Nick">
                    Sergay Semenov
                    <span>I'm clown too</span>
                </p>
                <p class="TimeOfMessage">5:33</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Rus.png">
                <p class="Nick">
                    Arseny Daimnevrot
                    <span>комп не могу продать...</span>
                </p>
                <p class="TimeOfMessage">9:20</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Clown.jpg">
                <p class="Nick">
                    Sergay Semenov
                    <span>I'm clown too</span>
                </p>
                <p class="TimeOfMessage">5:33</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Clown.jpg">
                <p class="Nick">
                    Sasha Tveritin
                    <span>I'm clown lol</span>
                </p>
                <p class="TimeOfMessage">12:55</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Dim.jpg">
                <p class="Nick">
                    Dmitry Tretyakov
                    <span>You: Go sex</span>
                </p>
                <p class="TimeOfMessage">12:54</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Rus.png">
                <p class="Nick">
                    Arseny Daimnevrot
                    <span>комп не могу продать...</span>
                </p>
                <p class="TimeOfMessage">9:20</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Clown.jpg">
                <p class="Nick">
                    Sergay Semenov
                    <span>I'm clown too</span>
                </p>
                <p class="TimeOfMessage">5:33</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Rus.png">
                <p class="Nick">
                    Arseny Daimnevrot
                    <span>комп не могу продать...</span>
                </p>
                <p class="TimeOfMessage">9:20</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Rus.png">
                <p class="Nick">
                    Arseny Daimnevrot
                    <span>комп не могу продать...</span>
                </p>
                <p class="TimeOfMessage">9:20</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Clown.jpg">
                <p class="Nick">
                    Sergay Semenov
                    <span>I'm clown too</span>
                </p>
                <p class="TimeOfMessage">5:33</p>

            </div>

            <div class="UserMessage1">

                <img src="~/pics/messages/Rus.png">
                <p class="Nick">
                    Arseny Daimnevrot
                    <span>комп не могу продать...</span>
                </p>
                <p class="TimeOfMessage">9:20</p>

            </div>

        </section>

        <section class="sectionMessages">
            <div class="container-title flex-middle">
                <div class="Interlocutor">
                    <div class="avaNameOnline">
                        <img src="~/pics/messages/Alex.jpg" alt="">
                        <h3 class="nameInterlocutor">Afanyasempai Alexstraza</h3>
                        <p class="onlineInterlocutor">Was online today at 14:37</p>
                    </div>

                    <a href="#" class="searchMessage">
                        <img src="~/pics/messages/Search.svg" alt="">
                    </a>

                    <a href="#">
                        <nav>
                            <div class="Circle"></div>
                            <div class="Circle"></div>
                            <div class="Circle"></div>
                        </nav>
                    </a>
                </div>
            </div>
            <div class="container" data-control="scroll">

                <div class="viewport-wrapper">
                    <div class="viewport" id="textTest">
                        <div class="content content-scroll">

                        </div>
                    </div>
                </div>
            </div>

            <div class="formAlertMessage">
                <form name="form" class="Send" id="Send" method="POST" onkeypress="if(event.keyCode == 13) return false;">

                    <textarea type="text" name="message" cols="30" rows="10" autocomplete="off" class="sendMessage" placeholder="Send your message" focus="focus" tabindex="1"></textarea>

                    <div>
                        <a href="#"><img src="~/pics/Music.svg" class="iconAttachMusic"></a>
                        <a href="#"><img src="~/pics/Photo.svg" class="iconAttachPhoto"></a>
                        <a href="#"><img src="~/pics/Video.svg" class="iconAttachVideo"></a>
                    </div>

                    <div class="buttonSendMessage" onclick="checkMessage()">
                        <img src="~/pics/messages/iconSendMessage.svg" alt="">
                    </div>
                </form>
            </div>

        </section>

        <script>

            function checkMessage() {
                if (!(document.form.message.value.trim() == ""))
                {
                    message();
                }
            }

            const chat = document.querySelector(".container");

            window.addEventListener("keydown", event => {

                if (event.keyCode == "13")
                {
                    checkMessage();
                }
            });

            function message() {
                const div = document.createElement('div');
                const p = document.createElement('p');
                const img = document.createElement('img');
                const a = document.createElement('a');
                const name = document.createElement('p');

                let parentElement = document.getElementById('textTest');
                let firstChild = parentElement.firstChild;

                name.textContent = "Kirill Sabaev";
                a.href = "../Profile/Profile.html";
                img.src = "~/pics/messages/Ava.jpg";
                chat.appendChild(div);
                div.appendChild(p);
                div.appendChild(a);
                a.appendChild(img);
                a.appendChild(name);
                let message = document.form.message.value;

                div.className = "alert";
                p.className = "textAlert"
                img.className = "messageAvatar"
                p.textContent = message;

                div.appendChild(p);
                parentElement.insertBefore(div, firstChild);

                document.form.message.value = "";
            }

        </script>

        <!-- <script src="scrollbox.function.js"></script> -->

    </main>
</body>
</html>